.gamecontainer {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    margin: 0;
    height: fit-content;
    /* overflow: hidden; */

    grid-area: gamecontainer;
    gap: 300px;

}
body{
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 60 40%;
    grid-template-areas: "title"
    "gamecontainer"
    "footer";
    width: 100%;
    background-color: rgb(205, 210, 224);
    /* height: fit-content; */
}
canvas {
    margin-top: 30px;
    cursor: pointer;
    border-radius: 5px;
    overflow-y: auto;
}


.controlsContainer {
    /* text-align: center; */
    display: flex;
    align-self:center;
    align-items: center;
    justify-content: center;
    width: 400px;
    border-radius: 20px;
    bottom: 150px;
    background-color: rgba(75, 109, 209, 0.473);
    z-index: 1;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
i {
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.title {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0px;

    grid-area: title;
    align-items: center;
    height: fit-content;
    
}
.area{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.title > :nth-child(1){
    display: flex;
    margin-top: 1rem;
    /* height: fit-content; */
    width: fit-content;
    height: 100%;

    background-color: rgba(75, 109, 209, 0.473);
    border-radius: 10px;
    
    
}
h1{
    margin: 0;
    color: rgb(8, 15, 36);
    font-family: 'Agbalumo', sans-serif;
    font-size: 2.5em;
    padding-left: 2em;
    padding-right: 2em;
}
.title > :nth-child(2){
    text-align: center;
    height: fit-content;
    border-radius: 30px;
    color: rgb(8, 24, 70);
    font-family: 'Agbalumo', sans-serif;
    margin-top:110%;
}
.title > :nth-child(3){
    color: rgb(8, 24, 70);
    font-family: 'Agbalumo', sans-serif;
    align-self: self-end;
}
.gamecontainer > :nth-child(2){
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    /* bottom: 1000px; */
    /* left:1000px ; */

}
.gamecontainer > :nth-child(2)> :nth-child(1){

    padding: 1.1rem;
}

.c{
    color:  rgb(8, 24, 70);;
}
.title > :nth-child(4){
    align-self: self-end;
}

@media screen and (max-width: 1350px) {
    body {
        margin: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 60 40%;
        grid-template-areas: "title"
        "gamecontainer"
        "footer";
        justify-content: center;
        align-items: center; 
        background-color: rgb(205, 210, 224);

    }
    .title{
        grid-area: title;
    }
    .gamecontainer {
        /* padding: em; */
        display: flex;
        /* flex-direction: row; */
        align-items: center;
        justify-content: center;
        height: fit-content;
        /* overflow: hidden; */
        /* padding: 3em; */
        grid-area: gamecontainer;
    
    }
    .gamecontainer > :nth-child(2){

        display: none;
    }
    i{
        font-size: 2em;
    }
    .controlsContainer {
        
        display: flex ;
        width: 300px !important;
        bottom: 0px;
        
    }
    p{
        display: none;
    }
    canvas{
        margin-bottom: 20px;
    }
    body> :nth-child(3){
        padding-top: 20px;
    }
  }
  @media screen and (max-width: 600px){
    .gamecontainer {
        margin-top: 1%;
        
    }
    h1{
        font-size: 2em;
    }
  }
  body> :nth-child(3) {
    display: flex;
    flex-direction:column ;
    align-items: center;
  }
  p{
    font-family: 'Agbalumo', sans-serif;
    margin: 0px;
  }
  .area > :nth-child(3){
    background-color: rgba(75, 109, 209, 0.473);
    width: fit-content;
    position: relative;
    bottom: 700px;
    align-self: flex-end;
    justify-content: center;
    border-radius: 5px;


  }
  .lolo{
    padding: 0px;
  }